<div class= "container">
  <div class= "row">
    <h3 class="text-center col mt-4 mb-2 ">管理者ログイン</h3>
  </div>   
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class= "row justify-content-center">
      <div class= "col-lg-auto col-sm-auto col-auto mb-5 mt-5">
        <%= f.label :Email %><br />
        <%= f.email_field :email, size: "40x5", autofocus: true, placeholder: "sample@example.com" %>
      </div>
    </div>
    <div class= "row justify-content-center">
      <div class= "col-lg-auto col-sm-auto col-auto mb-5" >
        <%= f.label :Password %><br />
        <%= f.password_field :password, size: "40x5" %>
      </div>
    </div>
    <div class= "row justify-content-center">
      <div class= "col-lg-auto col-sm-auto col-auto mb-5">
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
    </div>
    <div class= "row justify-content-center">
      <div class= "col-lg-auto col-sm-auto col-auto">
        <%= link_to 'ゲストログイン', admin_guest_sign_in_path, method: :post, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
<!--<%= render "admin/shared/links" %>-->

























