<div class="container">
  <div class="row">
    <h3 class="text-center col mt-4 mb-2 ">Upload a track</h3>
  </div> 
  <%= form_with model: Post_music.new do |f| %>
    <div class="row justify-content-center">
      <div class="col-lg-auto col-sm-auto col-auto mb-5 mt-5">
        <%= f.label :title %>
        <%= f.text_field :title, size: "40x5" %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class= "col-lg-auto col-sm-auto col-auto mb-5" >
        <%= f.label :file %>
        <%= f.file_field :file %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-auto col-sm-auto col-auto mb-5" >
        <%= f.submit "送信" %>
      </div>
    </div>
    <% if @post_music.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post_music.errors.count, "error") %>が発生しました:</h2>
        <ul>
          <% @post_music.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div> 




   
  
  

