<h3>trac編集</h3>
<%= form_with model: @post_music, method: :patch do |f| %>
  <div>
    <%= f.text_field :title %>
    <%= @post_music.body %>
    <audio src= "<%= "#{@post_music.file}" %>" controls="">
      <a src="<%= "#{@post_music.file}" %>">ダウンロード</a>
    </audio>
  </div>
  <div>
    <%= f.submit "Update Track"%>
  </div>
<% end %>
<div>
  <%= link_to "削除", post_music_path(@post_music), method: :delete %>
</div>











 