<div class= "container">
  <div class= "row">
    <h3 class="text-center col mt-4 mb-2 ">Upload a track</h3>
  </div> 
  <%= form_with model: @post_music do |f| %>
    <div class= "row justify-content-center">
      <div class= " col-lg-auto col-sm-auto col-auto mb-5 mt-5">
        <%= f.label :title %><br>
        <%= f.text_field :title, size: "40x5" %>
      </div>
    </div>
    <div class= "row justify-content-center">
      <div class= "col-lg-auto col-sm-auto col-auto mb-5" >
        <%= f.label :file %><br>
        <%= f.file_field :file %>
      </div>
    </div>
    <div class= "row justify-content-center">
      <div class= "col-lg-auto col-sm-auto col-auto mb-5" >
        <%= f.submit "送信", class: "btn btn-lg btn-block btn-info mt-4" %>
      </div>
    </div>
    <% if @post_music.errors.any? %>
      <div class= "row justify-content-center">
        <div class= "row justify-content-center">
          <h3><%= pluralize(@post_music.errors.count, "error") %></h3>
          <ul>
            <% @post_music.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
</div> 






