<div>
  <div>
    <div>
      <h5><%= @user_found.name %>のプロフィール</h5>
      <p>img</p>
      <%= @user_found.name %>
      <%= link_to "編集する" , edit_user_path %>
    </div>
  </div>
  <div>
    <div>
      <h5>お気に入り</h5>
      <% @favorites.each do |favorite| %>
        <%= link_to favorite.post_music.user.name, user_path(favorite.post_music.user) %>
        <%= link_to favorite.post_music.title, post_music_path(favorite.post_music) %>
      <% end %>
    </div>
  </div>
  <div>
    <div>
      <% @post_musics.each do |post_music| %>
        <%= link_to user_path(post_music.user_id) do %>
          <%= post_music.user.name %>
        <% end %>
        <%= link_to post_music_path(post_music.user_id) do %>
          <%= post_music.title %>
        <% end %>
        <%= post_music.body %>
        <audio src= "<%= "#{post_music.file}" %>" controls="">
          <a src="<%= "#{post_music.file}" %>">ダウンロード</a>
        </audio>
        <p><%= link_to "#{post_music.post_comments.count} comments", post_music_path(post_music.id) %></p>
      <% end %>
    </div>
  </div>
</div>














    
    
    
    
    
    