<!DOCTYPE html>
<html>
  <head>
    <title>SoundPath</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/92515f994e.js" crossorigin="anonymous"></script>
  </head>
  <body class= "d-flex flex-column vh-100">
    <header class= "sticky-top shadow-sm">
      <nav class= "navbar navbar-expand-lg navbar-light">
        <div class="container">
          <%= link_to "SoundPath", root_path, class: "navbar-brand p-3" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class= "row justify-content-end">
            <!--Adminのヘッダー-->
            <div class= "collapse navbar-collapse" id="navbarNavDropdown">
              <ul class= "navbar-nav ">
                <li class="nav-item">
                  <%= link_to "About", about_path, class: "btn btn-outline-secondary mx-1 my-1" %>
                </li>
                <% if admin_signed_in? %>
                  <li class= "nav-item">
                    <%= link_to "All Users", admin_users_path, class: "btn btn-outline-secondary mx-1 my-1" %>
                  </li>
                  <li class= "nav-item">
                    <%= link_to "Log out", destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary mx-1 my-1" %>
                  </li>
                <!--Userのヘッダー-->
                <% elsif user_signed_in? %>
                  <li class= "nav-item">
                    <%= link_to "My Page", user_path(current_user), class: "btn btn-outline-secondary mx-1 my-1" %>
                  </li>
                   <li class= "nav-item">
                    <%= link_to "All Tracks", post_musics_path, class: "btn btn-outline-secondary mx-1 my-1" %>
                  <li>
                    <%= link_to  notifications_path, class: "btn btn-outline-secondary mx-1 my-1" do %>
                      <i class="fa-solid fa-bell"></i>
                    <% end %>
                  </li>
                  <li class= "nav-item">
                    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary mx-1 my-1" %>  
                  </li>
                <!--User、Admin共通-->
                <% else %>
                  <li>
                    <!--通知一覧-->
                    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-secondary mx-1 my-1" %>
                  </li>
                  <li class= "nav-item">
                    <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-secondary mx-1 my-1" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <div class= "container">
        <div class= "row justify-content-center align-items-start">
          <div class= "col-lg-3 col-sm-5 col-5">
            <% if user_signed_in? %>
              <%= form_with url: search_index_path, local: true, method: :get do |f| %>
                <div class= "input-group">
                  <%= f.text_field :keyword, class: "form-control", placeholder: "Serch for artists , tracks" %>
                  <%= button_tag type: "submit", class: "btn btn-secondary" do %>
                    <i class="fa-solid fa-magnifying-glass"></i>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>






































